body {
    background-color:  #ffff99;
    font-family: 'Baloo Bhai', cursive;
    text-align: center;

}

h1 {
    font-size: 5em;
    line-height: 1em;
    margin: 40px 0 20px 0;
}

h2{
    font-size: 4rem;
}

.row {
    text-align: center;
}

#selection-box, #question-box {
    font-size: 1.5em;
}



button {
    width: 150px;
    height: 70px;
    margin: 15px 10px;
    border-radius: 10px;
}


.btn {
    font-size: 2rem;
}


.btn-success {
    width: 200px;
    margin-top: 50px
}

.number {
    width: 175px;
    height: 175px;
    margin: 15px 25px;
    border-radius: 10px;
    font-size: 4rem;
}


.btn-info:not(:disabled):not(.disabled).active {
    background-color: #751396;
    border-color: #541396;
}

.btn-info:not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,.5);
}

.btn-secondary:not(:disabled):not(.disabled).active {
    background-color: black;
    border-color: #541396;
}

.btn-info:not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,.5);
}

.error-alert p {
    color: #751396;
    margin-bottom: 0;
}

.smiley {
    font-size: 1.2em;
}

.incorrect {
    background-color: red;
    border-color:red;
}

.correct {
    background-color: #1e7e34;
    border-color:#1e7e34;
}

.hidden {
    display: none;
}

.unhidden {
    display: block;
}

